/* Add here all your CSS customizations */

#header {
    background: #FFF;
}
.home-intro {
    margin-bottom: 30px;
}

.logo img {
    vertical-align: top;
    margin-top: -8px;
}
.sticky-menu-active .logo img {
    margin-top: 3px;
}

.slider-container .main-label.smaller-big-label {
    font-size: 46px;
}

.awards {
    text-align: center;
}
.awards .row div {
    padding: 5px;
}
.awards img {
    border-radius: 7px;
    border: 1px solid #ccc;
    max-width: 100%;
}
.side.awards .row div {
    width: 100%;
}
.side.awards img {
    max-width: 65%;
    border: none;
    border-radius: 4px;
}
ul.team-list {
    clear: both;
}
.environmental {
    color: #0da882;
}
.internal.home-concept {
    background-size: contain;
}
.internal.home-concept .process-image {
    margin-top: 35px;
    margin-bottom: 90px;
}